@import "constants.scss";

* {
    margin: 0;
    padding: 0;
    font-family: $mainFont;
}

body {
    background-color: #fff;
    z-index: 5;
}

.header {
    width: 100%;
    height: 75px;
    background-color: #222222;
    overflow: hidden;

    &__logo {
        float: left;
        margin-top: 18px;
        margin-left: 231px;
        height: 38px;

        &__img1 {
            width: 44px;
            margin-right: 41px;
            cursor: pointer;
        }

        &__img2 {
            width: 26px;
            cursor: pointer;
        }
    }

    &__menu {
        float: right;
        margin-top: 26px;
        margin-right: 240px;
        display: flex;

        &__details {

            // &[open] .header__menu__content {
            //     right: 0;
            // }
            // &:not([open]) .header__menu__content {
            //     right: -232px;
            // }
            &__summary {
                list-style: none;
                cursor: pointer;
            }
        }

        &__content {
            position: absolute;
            right: -232px;
            top: 75px;
            z-index: 1000;
            background: #FFF;
            width: 232px;
            transition: right 1s;
            // transition: transform 1s;
            animation-direction: reverse;

            .header__menu__details[open] & {
                right: 0;
                // transform: translate(-232px, 0)
                ;
            }

            &__title {
                padding: 37px 0 24px 34px;
            }

            &__lists {
                padding-left: 33px;
                list-style: none;

                &__title {
                    color: $mainColor;
                }

                &__items {
                    color: rgba(111, 110, 110, 1);
                    padding: 11px 22px;
                }
            }
        }
    }
}

.center {
    margin: 0 33px;
}

.content {
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    border-color: #F1E4E6;
    position: relative;
    z-index: 5;
    background-color:
        #F1E4E6;

    &__img {
        width: 800px;
        height: 764px;
    }

    &__text {
        font-size: 32px;
        position: relative;
        width: 377px;
        margin-left: 63px;

        &::before {
            content: '';
            position: absolute;
            left: -28px;
            top: 0;
            width: 12px;
            height: 100%;
            background-color: #F16D7F;
            border: 1px solid #F16D7F;
        }
    }
}

.color {
    color: #F16D7F;
}

.stocks {
    margin: 65px auto 96px auto;
    width: 1138px;
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 260px 180px;
    gap: 30px;

    &__items {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background-color: #211616;
            opacity: 0.7;
        }

        &__text {
            font-size: 16px;
            color: #FFF;
            z-index: 10;
        }

        &__title {
            font-size: 24px;
            color: #F16D7F;
            z-index: 10;
        }
    }
}

.items1 {
    background: url("img/Layer\ 43.svg");
}

.items2 {
    background: url("img/Rectangle\ 30.svg");
}

.items3 {
    background: url("img/kid.svg");
}

.items4 {
    background: url("img/accesories.svg");
    grid-area: 2/1/3/4;
}

.products {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-size: 30px;
    }

    &__text {
        color: #9F9F9F;
        font-size: 14px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 360px);
        grid-template-rows: repeat(2, 587px);
        gap: 30px;
        margin-top: 48px;
        margin-bottom: 48px;

        &__items {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            background-color: rgba(248, 248, 248, 1);

            &:hover::before {
                position: absolute;
                width: 100%;
                height: 72%;
                content: "";
                background-color: #3A3838;
                opacity: 86%;
            }

            &:hover::after {
                position: absolute;
                width: 100%;
                height: 72%;
                content: "";
                background-image: url("img/cart.svg");
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        &__title {
            margin: 25px 16px 16px 16px;
            font-size: 13px;
        }

        &__text {
            margin: 0 16px 16px 16px;
            font-size: 14px;
            color: #5D5D5D;
        }

        &__price {
            margin: 0 16px 16px 16px;
            font-size: 16px;
            color: #F16D7F;
        }
    }

    &__button {
        padding: 15px 39px;
        border: 1px solid $mainColor;
        color: $mainColor;
        margin-bottom: 60px;
        font-size: 16px;
        cursor: pointer;
        background-color: #fff;

        &:hover {
            color: #FFF;
            background-color: $mainColor;
        }
    }
}

.offer {
    width: 100%;
    display: flex;
    background-color: #222224;
    color: #FBFBFB;
    justify-content: space-around;

    &__card {
        max-width: 360px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 103px 0;

        &:first-child {
            margin-left: 230px;
        }

        &:last-child {
            margin-right: 230px;
        }
    }

    &__img {
        width: 45px;
        height: 32px;
        margin-bottom: 28px;
    }

    &__title {
        margin-bottom: 16px;
        font-size: 20px;
    }

    &__text {
        font-size: 14px;
    }
}

.subscribe {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__fon {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        z-index: -1;
    }

    &__info {
        padding-top: 97px;
        padding-bottom: 126px;
        padding-left: 230px;
        width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__text {
            font-size: 20px;
            text-align: center;
        }

        &__img {
            width: 96px;
            height: 96px;
            margin-bottom: 30px;
            border-radius: 50%;
        }
    }

    &__form {
        width: 356px;
        margin-right: 230px;

        &__title {
            font-size: 24px;
            font-weight: bold;
            text-align: center;
        }

        &__text {
            font-size: 18px;
            text-align: center;
        }

        &__email {
            margin-top: 32px;
            display: flex;
            width: 356px;

            &__input {
                width: 256px;
                height: 49px;
                border: none;
                background-color: #E1E1E1;
                border-radius: 25px 0 0 25px;

                &::placeholder {
                    padding-left: 21px;
                }
            }

            &__button {
                width: 100px;
                height: 49px;
                border: none;
                background-color:
                    $mainColor;
                border-radius: 0 25px 25px 0;
                cursor: pointer;

                &:hover {
                    background-color:
                        #E05C6E;
                }
            }
        }
    }
}

.contacts {
    height: 79px;
    display: flex;
    background-color: #222224;
    justify-content: space-between;
    align-items: center;

    &__year {
        color:
            #FBFBFB;
        font-size: 16px;
        margin-left: 235px;
    }

    &__brands {
        height: 32px;
        display: flex;
        margin-right: 230px;
        gap: 7px;
    }
}

.brands {
    width: 16px;
    height: 16px;

    &__wrapper {
        background-color: #FFF;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: #F16D7F;
        }
    }
}

.top {
    display: flex;
    height: 148px;
    align-items: center;
    padding: 0 $marginContent;
    justify-content: space-between;
    background-color: #F8F3F4;

    &__slogan {
        color: $mainColor;
    }

    &__breadcrumbs {
        color: $secondColor;
        font-size: 14px;

        &-choice {
            color: $mainColor;
        }
    }
}

.slider {
    width: 100%;
    display: flex;
    align-items: center;

    background: #F7F7F7;

    &__direction {
        width: 47px;
        height: 47px;
        color: black;
        background: #2A2A2A26;

        &__arrow {
            padding: 8px;
            text-align: center;
            width: 31px;
            height: 31px;
            cursor: pointer;
        }
    }

    &__content {
        margin: 11px auto 42px auto;
        width: 597px;
        height: 724px;
    }
}

.collections {
    margin: 0 $marginContent;
    box-shadow: $shadow;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -65px;
    background-color: #fff;
    z-index: 10;
    color: rgba(94, 94, 94, 1);

    &__title {
        margin-top: 65px;
        color: $mainColor;
        font-size: 14px;
    }

    &__lineHead {
        max-width: 63px;
        width: 100%;
        height: 3px;
        background-color: $mainColor;
        margin-top: 12px;
    }

    &__head {
        font-size: 12px;
        margin-top: 28px;
        color: #4D4D4D;
    }

    &__description {
        margin-top: 48px;
        font-size: 14px;
        color: #5E5E5E;
        max-width: 400px;
        text-align: center;
    }

    &__price {
        margin-top: 32px;
        color: $mainColor;
        font-size: 24px;
    }

    &__line {
        max-width: 641px;
        width: 100%;
        height: 1px;
        background-color: #EAEAEA;
        margin-top: 65px;
    }

    &__chooses {
        margin-top: 64px;
        display: flex;
        gap: 22px;
        color: #6F6E6E;

        details>summary {
            list-style: none;
            cursor: pointer;
        }

        summary:after {
            content: ">";
            font-weight: bold;
            display: inline-block;
            transform: rotate(90deg);
            margin: 0 0 0 9px;
        }

        details[open] summary:after {
            content: ">";
            font-weight: bold;
            transform: rotate(0);
        }
    }

    &__addCard {
        margin: 48px auto 64px auto;
        width: 212px;
        height: 48px;
        border: 1px solid $mainColor;
        color: $mainColor;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 22px;
        cursor: pointer;
    }
}

.catalogsProducts {
    grid-template-rows: repeat(1, 587px);
}

.catalog {
    margin: 51px 230px 96px 230px;
    display: flex;

    &__head {
        margin-bottom: 64px;
        position: relative;

        &__filter {
            font-size: 14px;
            list-style: none;
            padding: 16px;
            position: relative;

            &>div {
                margin-top: 16px;
                min-width: 328px;
                background-color: #fff;
                position: absolute;
                z-index: 9999;
            }

            &[open] {
                color: $mainColor;
                box-shadow: $shadow;
            }

            &__title {
                list-style: none;
                min-width: 74px;
                display: flex;
                gap: 11px;
                align-items: center;
                cursor: pointer;

                &__content {
                    padding-top: 16px;
                    padding-bottom: 16px;

                    &__values {
                        color: rgba(111, 110, 110, 1);
                        margin-bottom: 11px;
                    }

                    &[open] summary {
                        color: $mainColor;
                    }

                    & summary {
                        color: black;
                        list-style: none;
                        padding: 11px;
                        border-left: 5px solid $mainColor;
                        border-bottom: 1px solid rgba(235, 235, 235, 1);
                        cursor: pointer;
                    }

                    &>div {
                        padding: 16px;
                        color: black;
                    }
                }
            }

            margin-right: 320px;

            &[open] path {
                fill: $mainColor;
            }
        }

        &__sort {
            display: flex;
            gap: 28px;
            left: calc(390px + 230px);
            // position: absolute;

            &__values {
                position: relative;

                &__wrapper {
                    left: -10px;
                    margin-top: 5px;
                    display: flex;
                    flex-direction: column;
                    width: 79px;
                    position: absolute;
                    box-shadow: $shadow;
                    gap: 8px;
                    padding: 8px 0 8px 8px;
                }

                &__title {
                    list-style: none;
                    display: flex;
                    cursor: pointer;

                    &>img {
                        margin-left: 10px;
                    }
                }
            }
        }
    }

}

.paggination {
    width: 284px;
    padding: 15px 0;
    border: 1px solid rgba(235, 235, 235, 1);
    color: rgba(235, 235, 235, 1);
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-bottom: 96px;

    &__arrow {
        margin: 0 15px;
    }

    &__numbers {
        &::first-letter {
            color: $mainColor;
        }
    }
}

.basket {
    &__top {
        height: 148px;
        width: calc(100% - 230px);
        background-color: rgba(248, 243, 244, 1);
        color: $mainColor;
        padding: 60px 0 60px 230px;
    }

    &__content {
        width: calc(652px + 360px + 128px);
        margin: 96px auto 128px;
        display: flex;

        &__form {
            max-width: 360px;
            width: 100%;
            margin-left: 128px;

            &__adress {
                &__title {
                    font-size: 16px;
                    margin-bottom: 20px;
                    width: 360px;
                }

                &__input {
                    width: calc(100% - 20px);
                    height: 45px;
                    margin-bottom: 20px;
                    padding-left: 17px;
                    ;
                    font-size: 13px;
                    border: 1px solid rgba(74, 74, 74, 1);
                }

                &__button {
                    cursor: pointer;
                    height: 35px;
                    background-color: #fff;
                    color: rgba(74, 74, 74, 1);
                    padding: 0 14px;
                    font-size: 11px;
                    border: 1px solid rgba(74, 74, 74, 1);

                }
            }

            &__checkout {
                width: calc(360px - 34px);
                height: 214px;
                ;
                background-color: rgba(245, 243, 243, 1);
                margin-top: 57px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding-right: 34px;

                &__sub {
                    font-size: 11px;
                    margin-top: 39px;

                    & span {
                        margin-left: 20px;
                    }
                }

                &__grand {
                    font-size: 11px;
                    margin-top: 12px;

                    & span {
                        margin-left: 20px;
                        color: $mainColor;
                    }
                }

                &__button {
                    font-size: 16px;
                    color: #FFF;
                    padding: 15px 41px;
                    background-color: $mainColor;
                    margin-top: 39px;
                    cursor: pointer;
                }
            }
        }

        &__buttons {
            display: flex;
            justify-content: space-between;

            &>button {
                padding: 17px 40px;
                font-size: 14px;
                border: 1px solid rgba(164, 164, 164, 1);
                background-color: #fff;
                cursor: pointer;
            }
        }

        &__product {
            width: calc(390px + 262px);
            display: flex;
            box-shadow: $shadow;
            margin-bottom: 40px;

            &__logo {
                width: 262px;
                height: 306px;
            }

            &__info {
                max-width: 262px;
                max-height: 306px;
                padding: 22px 97px 62px 31px;
                position: relative;

                &>img {
                    position: absolute;
                    right: 0;
                    top: 28px;
                    right: 22px;
                    cursor: pointer;
                }

                &__title {
                    font-size: 24px;
                }

                &__size {
                    display: flex;
                    flex-direction: column;
                    margin-top: 42px;
                    gap: 6px;
                    font-size: 22px;

                    p>span {
                        color: $mainColor;
                    }
                }
            }
        }
    }
}

.registration {
    display: flex;
    width: calc(360px + 652px + 128px);
    margin: 64px auto 96px;

    &__form {
        width: 360px;
        margin-right: 128px;

        &__radio {
            margin-top: 31px;
            margin-bottom: 33px;
            color: rgba(164, 164, 164, 1);

            &~label {
                color: rgba(164, 164, 164, 1);
            }
        }

        &__title {
            font-size: 16px;
            color: rgba(164, 164, 164, 1);
            margin-bottom: 20px;
        }

        &__text {
            padding: 13px 17px;
            width: calc(360px - 34px);
            margin-bottom: 20px;
            border: 1px solid rgba(164, 164, 164, 1);
        }

        &__description {
            color: rgba(164, 164, 164, 1);
            margin-bottom: 39px;
        }

        &>button {
            padding: 16px 29px;
            color: #FFF;
            background-color: $mainColor;
            border: none;
            cursor: pointer;
        }

        &__img {
            margin-left: 20px;
        }
    }

    &__info {
        width: 652px;
        font-size: 24px;

        &__title {
            margin-bottom: 22px;
        }

        &__description {
            margin-bottom: 21px;
        }

        &__plus {
            margin-bottom: 16px;

            &>img {
                margin-right: 22px;
            }
        }
    }
}

@media (min-width: 1650px) {
    .content {
        max-width: 100%;
        justify-content: center;
    }
}


@media (max-width: 1024px) and (min-width: 768px) {
    .top {
        padding: 0 16px;

        &__slogan {
            font-size: 24px;
        }
    }

    .registration {
        width: calc(354px + 360px + 22px);

        &__info {
            width: 354px;
        }

        &__form {
            margin-right: 22px;
        }
    }

    .header {
        &__logo {
            margin-left: 32px;
        }

        &__menu {
            margin-right: 32px;
        }
    }

    .logo {
        margin-left: 32px;
    }

    .menu {
        margin-right: 32px;
    }

    .content__menu {
        display: none;
    }

    .content__img {
        width: 386px;
        height: 368px;
    }

    .stocks {
        width: 736px;
        grid-template-columns: 232px 232px 232px;
        grid-template-rows: 167px 116px;
    }

    .products {
        width: 768px;

        &__wrapper {
            grid-template-columns: repeat(2, 360px);

            &__items {
                &:last-child {
                    display: none;
                }
            }
        }
    }

    .offer {
        flex-direction: column;

        &__card {
            margin: 48px 204px;
        }
    }

    .subscribe {
        flex-direction: column;

        &__info {
            padding-left: 0;
            padding-bottom: 48px;
        }

        &__form {
            margin-right: 0;
            margin-bottom: 140px;
        }
    }

    .contacts__year {
        margin-left: 32px;
    }

    .contacts__brands {
        margin-right: 32px;
    }

    .basket {
        &__top {
            padding: 60px 16px;
            width: calc(100% - 16px * 2);
            box-sizing: border-box;
        }

        &__content {
            flex-direction: column;
            max-width: 768px;

            &__wrapper {
                display: subgrid;
                flex-direction: column;
            }

            &>div {
                display: flex;
                // flex-direction: column;
                align-items: center;
            }

            &__buttons {
                // justify-content: space-evenly;
                margin-bottom: 64px;
                margin-top: 62px;
                width: 508px;
            }

            &__form {
                display: flex;
                flex-direction: row;
                gap: 15px;
                max-width: 1024px;
                width: calc(360px * 2 + 15px);
                margin: 0 auto;

                &__adress {
                    width: 360px;
                }

                &__checkout {
                    width: 360px;
                    box-sizing: border-box;
                }
            }
        }
    }

    .offer {
        align-items: center;
    }

    .catalog {
        width: 769px;
        margin: 0 auto;
    }

    .collections {
        top: 0;
        margin: 0;
    }
}

@media (max-width: 767px) and (min-width: 320px) {

    .registration {
        flex-direction: column;
        width: 100%;

        &__form {
            // width: calc(100% - 8px * 2);
            margin: 0 auto;

            &>button {
                height: 50px;
                margin-bottom: 40px;

            }

            &__img {
                width: 17px;
                height: 10px;
            }
        }

        &__info {
            width: calc(100% - 8px * 2);
            margin: 0 auto;

            &__plus {
                &>img {
                    width: 20px;
                    height: 16px;
                }
            }
        }
    }

    .header {

        &__logo {
            margin-left: 16px;
        }

        &__menu {
            margin-right: 0;
            right: 16px;

            &__img {
                margin-right: 20px;
            }

            &__content {
                // height: 100%;
            }

            &__details {

                &:nth-child(2),
                &:nth-child(3) {
                    display: none;
                }
            }
        }
    }

    .logo {
        margin-left: 16px;
    }

    .menu {
        margin-right: 0;
        position: absolute;
        right: 16px;
    }

    .content {
        width: 100%;
        height: 363px;
        background-color: #F1E4E6;

        &__menu {
            display: none;
        }

        &__text {
            margin-left: 0;
            margin: 0 56px 0 83px;
            font-size: 20px;
        }

        &__text-bold {
            font-size: 20px;
            font-weight: 700;
            font-size: 38px;
        }

        &__img {
            display: none;
        }
    }

    .stocks {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 32px;

        &__items {
            margin: 0 16px;
            height: 247px;

            &:last-child {
                height: 111px;
            }
        }
    }

    .products {
        width: calc(100% - 16px);
        margin: 0 8px;

        &__wrapper {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        &__button {
            background-color: #fff;
            margin-bottom: 85px;
        }
    }

    // img {
    //     width: 100%;
    // }

    .offer {
        flex-direction: column;

        &__card {
            margin: 48px 204px;
        }
    }

    .subscribe {
        flex-direction: column;

        &__info {
            padding-left: 0;
            padding-bottom: 48px;
        }

        &__form {
            margin-right: 0;
            margin-bottom: 140px;
        }
    }

    .contacts__year {
        margin-left: 32px;
    }

    .contacts__brands {
        margin-right: 32px;
    }

    .basket {
        &__top {
            padding: 0;
            width: 100%;
            font-size: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            // box-sizing: border-box;
        }

        &__content {
            flex-direction: column;
            max-width: 768px;
            width: 360px;

            &__product {
                width: 358px;

                &__info {
                    width: 143px;
                    padding: 14px 31px 37px 17px;

                    &__title {
                        font-size: 16px;
                        width: 143px;
                    }

                    &__size {
                        font-size: 14px;
                    }

                    &>img {
                        width: 10px;
                        height: 10px;
                        top: 17px;
                        right: 12px;
                    }

                }

                &__logo {
                    width: 143px;
                    height: 188px;

                    & img {
                        width: inherit;
                        height: inherit;
                    }
                }
            }

            &__wrapper {
                display: subgrid;
                flex-direction: column;
            }

            &>div {
                display: flex;
                align-items: center;
            }

            &__buttons {
                margin-bottom: 48px;
                margin-top: 30px;
                width: 358px;
                font-size: 12px;

                &>button {
                    width: 175px;
                    padding: 8px 14px;
                    box-sizing: border-box;
                    font-size: 12px;
                }
            }

            &__form {
                display: flex;
                flex-direction: column;
                gap: 15px;
                max-width: 360px;
                margin: 0 auto;

                &__adress {
                    width: 360px;
                }

                &__checkout {
                    width: 360px;
                    box-sizing: border-box;
                }
            }
        }
    }

    .top {
        padding: 0;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .catalog {
        // width: 375px;
        margin: 0;

        &__head {
            &__sort {
                &__values {
                    font-size: 12px;
                }
            }

            &__filter {
                padding: 0;
                margin: 0;

                &__title {
                    color: #FFF;
                    position: relative;
                    left: -50px;
                }
            }
        }
    }

    .slider {
        &__content {
            margin: 0;
            width: 374px;
            height: 454px;

            & img {
                width: calc(374px - 47px * 2);
                height: 454px;
            }
        }
    }

    .collections {
        margin: 0 24px;
        top: 0;
        box-shadow: none;
        &__chooses {
            font-size: 12px;
            gap: 18px;
        }
    }
}

@media (max-width: 425px) and (min-width: 320px) {
    .content__menu {
        display: none;
    }

    .offer__card {
        margin: 48px 13px;

        &:first-child {
            margin: 48px 13px;
        }

        &:last-child {
            margin: 48px 13px;
            margin-bottom: 81px;
        }
    }

    .contacts {
        height: 143px;
        flex-direction: column-reverse;
        justify-content: space-evenly;

        &__year {
            margin: 0;
        }

        &__brands {
            margin: 0;
        }
    }

    .subscribe {
        &__info {
            width: 320px;
        }

        &__form {
            width: 320px;

            &__email {
                width: 320px;
            }
        }
    }
}